* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    min-height: 90vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .board { 
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    
  }
  
  .whiteBoard {
    position: relative;
    width: 100%;  
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0; 
    padding: 1.5rem;
  }
  
  .border {
    position: relative;
    width: 99%;
    min-height: 50vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(192,192,192);
    border-radius: 0.5rem;
    padding: 0rem 0.4rem 0.6rem 0.4rem;   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading {
    position: relative;
    font-size: 3.2vw; 
    font-family: sans-serif;
    color: rgb(105,105,105);
    margin-top: 0;
  }
  
  .quote {
    position: relative;
    font-size: 2.8vw;
    font-family: sans-serif;   
    line-height: 125%;
    margin-top: 4%;
  }
  
  #refresh {
    position: relative;
    width: 100%;
    background: green;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0 0 0.5rem 0.5rem;
    cursor: pointer;
    font-size: 3.2vw;
    font-family: Tahoma, Verdana, sans-serif;
    padding: 0.4rem;
    border: 0px solid transparent;
    font-weight: bold;
  }
