* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 32rem;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  
  .board { 
    position: relative;
    width: 43rem;
    min-height: 22rem;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
  }
  
  .whiteBoard {
    position: relative;
    width: 100%;
    min-height: 19rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
  }
  
  .border {
    position: relative;
    width: 40rem;
    min-height: 17rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(192,192,192);
    border-radius: 2rem;
    padding: 2rem
  }
  .heading {
    position: absolute;
    top: 6%;
    font-size: 160%;
  /*   font-family: 'Roboto', sans-serif; */
    font-family: sans-serif;
    color: rgb(105,105,105);
  }
  
  .quote {
    position: relative;
    font-size: 130%;
    font-family: sans-serif;
  }
  
  #refresh {
    position: relative;
    width: 100%;
    min-height: 3rem;
    background: green;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0 0 2rem 2rem;
    cursor: pointer;
    font-size: 110%;
    font-family: sans-serif;
    border: 0px solid transparent;
    font-weight: bold;
  }
  